@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, input, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}
img {
	border-style: none;
}
h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 3em;
	color: #C96;
	margin: 0 0 0 35px;
	font-style: normal;
}
h1.einzug {
	padding: 15px 0 35px 130px;
	color: #87560E;
	font-style: normal;
}
h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float: left;
	margin: -8px 0 -2px 0;
	font-size: 2.5em;
	color: #87560E;
	font-style: normal;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #87560E;
	font-style: normal;
}
h4 {
	clear: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #87560E;
	font-style: normal;
}
img.floatleft {
	float: left;
	margin: 0 30px 20px 0;
	width: 150px;
}
img.floatright {
	position: relative;
	top: 0;
	width: 50px;
	vertical-align: text-top;
	float: right;
}
div.floatleft {
	float: left;
	margin: 0 30px 0 0;
}
li.floatBox {
	float: left;
	width: 29px;
	text-align: center;
	border-style: none;
	margin: 0 15px 10px 10px;
	list-style: none;
	color: #960;
}
div.question {
	width:390px;
}
div.loesung {
	width: 396px;
	border: 2px solid #87560E;
}
div.loesung p {
	margin: 5px 0 5px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}
div.loesung h4 {
	margin: 15px 0 12px 10px;
}
div.loesung p.rechtstext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}
div#contentLeft {
	position: absolute;
	top: 150px;
	left: 0px;
	width: 450px;
}
div#contentRight {
	position: absolute;
	top: 150px;
	left: 450px;
	width: 450px;
}

br.clearleft {
	clear: left;
}
ul {
	margin: 2px;	
}
li {
	list-style: inside;
	list-style-image: url(img/aufzaehler.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #333;
}
.loesungRight {
	float: right;
	vertical-align: baseline;
}
